

@font-face {
    font-family: 'Adolphus Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Adolphus Regular'), url('Adolphus.woff') format('woff');
    }

h1 {
    font-family: 'Adolphus Regular';
    font-weight: 200;
    
}